<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SB Admin - Dashboard</title>

	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

</head>




<body id="page-top">

	<div id="wrapper">

		<!-- Sidebar -->

		<table class="dkf">
			<thead>
				<tr>
					<th>Posto Atual</th>
					<th>Programa</th>
					<th>Range</th>
					<th>Linha</th>
				</tr>
			</thead>

		</table>





		<ul>
			<table class="darkTable">


				<thead>
					<tr>
						<th>Programa</th>
						<th>Range</th>
						<th>Linha</th>
						<th>Posto Atual</th>
					</tr>
				</thead>

				<tbody>
					<tr data-href='url://link-for-first-row/'>
						<td rowspan="10">ELP</td>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td>Selagem</td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Estrutura </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Furação </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td bgcolor="#ffff00" style="font"> 1603</td>
						<td bgcolor="#ffff00">Porta Pax Tras.</td>
						<td bgcolor="#ffff00"> Cravção </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Embalagem </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Pintura </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Mecanismos </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Final </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Selagem</td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> cravação </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td rowspan="10">CF-1</td>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Estrutura </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Pintura </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Estrutura </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Estrutura </td>
					</tr>
					<tr data-href='url://link-for-first-row/'>
						<td>1603</td>
						<td>Porta Pax Tras.</td>
						<td> Pintura </td>

					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Selagem </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Embalagem </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Final </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td bgcolor="#2ef500">0075</td>
						<td bgcolor="#2ef500">OW</td>
						<td bgcolor="#2ef500"> Final </td>
					</tr>
					<tr data-href='url://some-other-link/'>
						<td>0075</td>
						<td>OW</td>
						<td> Final </td>
					</tr>
				</tbody>


			</table>
		</ul>




		<div id="content-wrapper">

			<div class="container-fluid">


				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">

						Informações detalhadas do Range ( OF )
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="dk2" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Fase</th>
										<th>Posto</th>
										<th>Descrição</th>
										<th>Horas planejadas</th>
										<th>Horas trabalhadas</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="100%"> Porta Pax Tras.</td>
									</tr>
									<tr>
										<td>Estrutura</td>
										<td>Montar estrutura</td>
										<td>6h</td>
										<td>5h</td>
									</tr>
									<tr>
										<td>Furação</td>
										<td>Fazer furação na fuselagem</td>
										<td>7h</td>
										<td>5h</td>
									</tr>
									<tr>
										<td bgcolor="#2ef500">cravação</td>
										<td bgcolor="#2ef500">cravar rebites</td>
										<td bgcolor="#2ef500">3h</td>
										<td bgcolor="#2ef500">1h</td>
									</tr>
									<tr>
										<td>Selagem</td>
										<td>Selar e aguardar processo de cura</td>
										<td>12h</td>
										<td>8h</td>
									</tr>
									<tr>
										<td>Pintura</td>
										<td>Pintar e aplicar composto conforme instrucao de trabalho</td>
										<td>12h</td>
										<td>10h</td>
									</tr>
									<tr>
										<td>Mecanismos</td>
										<td>Montar mecanismo conforme instrucao de trabalho</td>
										<td>8h</td>
										<td>7h</td>
									</tr>
									<tr>
										<td>Final</td>
										<td>Fazer Aplicação de Dinitrol </td>
										<td>6h</td>
										<td>4h</td>
									</tr>
									<tr>
										<td>Embalagem</td>
										<td>Embalar e entregar</td>
										<td>2h</td>
										<td>1h</td>
									</tr>
									<tr>
										<td>Envio</td>
										<td>Item disponivel para coleta</td>
										<td>2h</td>
										<td>1h</td>
									</tr>


								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer small text-muted">Updated yesterday at 11:59 PM

					</div>
				</div>

				<!-- Area Chart Example-->



				<footer class="sticky-footer">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright © Your Website 2019</span>
						</div>
					</div>
				</footer>

			</div>
			<!-- /.container-fluid -->


		</div>

	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="vendor/chart.js/Chart.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin.min.js"></script>

	<!-- Demo scripts for this page-->
	<script src="js/demo/chart-area-demo.js"></script>
	<script src="js/demo/chart-bar-demo.js"></script>
	<script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>